@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}

@mixin truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin max-sm-screen {
  @media only screen and (max-width: 1199px) {
    @content;
  }
}

@mixin lg-screen {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}
